@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

header{
	font-variant: small-caps;
	margin: 3em 0;
}

/* simulate h4 in an header */
header > p{
	font-size: 1em;
	text-indent: 0;
}

/* simulate h5 in an header */
header > p + p{
	font-size: .83em;
}

header > *{
	font-weight: normal;
	margin: 0;
}

header > *:first-child{
	font-weight: bold;
}
